
nav {
    display: inline-block;
    vertical-align: top;
    width: 73%;
    padding: 1%;
}

.logo {
    width: 23%; 
    padding: 1%;
    text-align: center;
}

li{
    display: inline-block;
}

nav li{
    display: inline-block;
    vertical-align: top;
}
.ul {
   width: 50%; 
   margin-left: auto;
}

.heroimg {
    height: 600px;
    padding: 25px;
}
.content {
    width: 500px;
    margin: 0auto;
}
.footer {
  background-color: #373738;  
}